@model IPaginationInfo
<!--Parte del view component: si ricollega alla PaginationBarViewCoponent-->

<!--b-pagination-->
@{
    //ad esempio se ho 32 corsi e limite di 10 ottengo 3.2 e tramite ceiling approssimo a 4 (pagine)
    int totalPages = (int) Math.Ceiling(Model.TotalResults / (decimal) Model.ResultsPerPage);
    int currentPage = Model.CurrentPage;
}
<nav aria-label="Paginazione">
    <ul class="pagination d-flex justify-content-center mt-3">
        @if(currentPage > 1)
        {
            //link per tornare alla pagina precedente
            <li class="page-item">
                <a class="page-link" asp-route-page="@(currentPage-1)" asp-route-search="@Model.Search" asp-route-orderby="@Model.OrderBy" asp-route-ascending="@Model.Ascending"><i class="fas fa-angle-left"></i></a>
            </li>   
        }
        <!--Mostro 4 link prima della pagina su cui mi trovo, valore minimo 1, verrà selezionato uno dei due valori-->
        <!--Mostro 4 link dopo la pagina corrente, con il Min, p non cresce mai oltre il numero totale di pagine-->
        @for(int p = Math.Max(1, currentPage-4); p <= Math.Min(totalPages, currentPage+4); p++)
        {
            //se p é la pagina su cui mi trovo, il bottone sarà "attivo"
            if(p == currentPage)
            {
                <li class="page-item active" aria-current="page">
                    <a class="page-link" asp-route-page="@p" asp-route-search="@Model.Search" asp-route-orderby="@Model.OrderBy" asp-route-ascending="@Model.Ascending">@p <span class="sr-only">(current)</span></a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-route-page="@p" asp-route-search="@Model.Search" asp-route-orderby="@Model.OrderBy" asp-route-ascending="@Model.Ascending">@p</a>
                </li>
            }
        }
        @if(currentPage < totalPages)
        {
            <li class="page-item">
                <a class="page-link" asp-route-page="@(currentPage+1)" asp-route-search="@Model.Search" asp-route-orderby="@Model.OrderBy" asp-route-ascending="@Model.Ascending"><i class="fas fa-angle-right"></i></a>
            </li>   
        }
    </ul>
</nav>